label {
   display: block;
   font: normal 10pt Arial,sans-serif;
   margin:1em 0;
}
label input {
   display:block;
   font: bold 8pt Tahoma,sans-serif;
}
#warnings {
   display: none;
   border: 1px solid red;
   padding: 0.2em 0.5em;
   background-color: #fff0f0;
   font: normal 9pt Arial,sans-serif;
}
img.not-contained {
   display:block;
   margin:1em auto;
   max-width: 100%;
}
span#attendance-file-format-string {
   font-weight: bold;
   font-style: italic;
   color: maroon;
}
span#select-list {
   font: normal 10pt 'Courier New',Courier,monotype;
}
div.container {
   padding: 1em;
}
div#dropzone {
   padding:10px;
   border: 2pt dashed black;
   background-color: rgb(238, 231, 231);
   width: fit-content;
   margin:5px 0 5px 0;
}
div#docgrid {
   display: grid;
   grid-template-columns: auto auto;
   column-gap:1em;
}
input.textboxForHours {
    display: inline;
}
label#weekdaysLabelElem {
   display: grid;
   grid-template-columns: auto auto;
}
span#beforeText {
   grid-column: span 2;
   margin-bottom: 1em;
}
span.daySpanElem {
   display:grid;
   grid-template-columns: auto auto;
}